.summary_key_center {
    align-items: center;
    display: flex;
}

.summary_value {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.0075em;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
